<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-analytics.ZPM">
    <Module>
      <Name>iris-analytics</Name>
      <Version>0.1.8</Version>
      <Dependencies>
        <ModuleReference>
          <Name>dsw</Name>
          <Version>3.*</Version>
        </ModuleReference>
      </Dependencies>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.irisbi.PKG"/>
      <Resource Name="dc.irisbi.covid19D.GBL" />
      <Resource Name="*.DFI" />
    </Module>
  </Document>
</Export>
