<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-analytics.ZPM">
    <Module>
      <Name>iris-analytics</Name>
      <Version>0.2.7</Version>
      <Description>IRIS Analytics for Money</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Riches.PKG"/>
      <Parameter Name="folder" Value="irisapp"/>
      <FileCopy Name="data" Target="${libdir}/${folder}/DATA/"/>
      <Invokes>
        <Invoke Class="Riches.Util" Method="InstallHelper"></Invoke>
      </Invokes>
    </Module>
  </Document>
</Export>
